<app-header></app-header>
<div class="" *ngIf="loader"><app-loader></app-loader></div>
<div class="container">
    <div class="row mt-5 lt-2" >
        <div class="col-lg-4 sm-4 mt-4 mx-auto" *ngFor = "let m of menu" >
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/pulav.jfif" height="200px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{m[1]}}</h5>
                    <p class="card-text">Type : {{m[2]}}</p>
                    <p class="card-text">Category : {{m[3]}}</p>
                    <p class="card-text">Price : {{m[4]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>